body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    margin: 20px;
}

input[type="file"], button {
    margin-right: 10px;
}

.form-control {
    margin: 20px;
}

label {
    margin-right: 10px;
}

select, #difference, #delete {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

#difference, #delete {
    border-radius: 14px;
    font-weight: bold;
}

#difference {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#difference:hover {
    background-color: #45a049;
}

.differences, .matches {
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.differences > h1 {
    color: red;
    font-style: italic;
}

h1 {
    margin-top: 20px;
    font-size: 20px;
}

p {
    margin: 5px 0;
}

button#delete {
    background-color: #c26363;
    color: white;
    border: none;
    cursor: pointer;
}

#delete:hover {
    background-color: red;
}

#upload, #show-differences {
    background-color: deepskyblue;
    color: white;
    font-size: 16px;
    padding: 5px 9px 5px 9px;
    border-radius: 14px;
    border: 1px SOLID beige;
    font-weight: bold;
}

#upload:hover {
    background-color: #9dcce0;
}

#show-differences:hover {
    background-color: #9dcce0;
}

input[type="hidden"] {
    background-color: #4CAF50;
}