<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome!</title>
</head>
<body>
        
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="fileInput">
        <button type="submit">Upload</button>
    </form>

    <div class="form-control" style="display: none">
        <label for="label">Choose Company:</label>
        <select id="label">
        </select>
        <button id="difference" type="submit">Differences</button>
    </div>

    <div class="differences">
    </div>

    <script>
        const button = document.querySelector('button[type="submit"]');
        const formControl = document.querySelector('.form-control');

        button.addEventListener('click', function(event) {
            event.preventDefault()
            formControl.style.display = 'block';
            const resultData = JSON.parse('{{ result|safe }}');
            console.log(resultData)
            const select =  document.querySelector('#label')
            for (const key in resultData) {
                const option = document.createElement('option')
                option.value = key
                option.textContent = key
                select.appendChild(option)
            }

            const differences = document.querySelector('#difference');

            differences.addEventListener('click', function(event){
                event.preventDefault()
                let showDiff = document.querySelector('.differences');
                for (const company in resultData[select.value]) {
                    const h1 = document.createElement('h1')
                    h1.textContent = company
                    showDiff.appendChild(h1)

                    resultData[select.value][company].forEach(element => {
                        const p = document.createElement('p');
                        p.textContent = element
                        showDiff.appendChild(p)
                    })
                }
            })
        })
    </script>

</body>
</html>