<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style/home.css">
    <title>Welcome!</title>
</head>
<body>
        
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="fileInput">
        <button type="submit">Upload</button>
    </form>


</body>
</html>